/* .header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0a111f;
  align-items: center;
  overflow: hidden;
  position: sticky;
  z-index: 200;
}

.navCenter {
  width: 100%;
} */

/* .navbar {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.navbar a {
  width: 100%;
  text-align: center;
  color: #e5e5e5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.navbar button {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: #fca311;
  cursor: pointer;
}

.navbar img {
  height: 1.5rem;
}

.navbar a:focus,
.navbar a:hover {
  color: #fca311;
} */
